body{
    background: #F8A6AC;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 30% auto;
    grid-template-rows: 50px auto 30px;
    grid-template-areas: 'hd hd' 'as ma' 'ft ft';
    margin: 0;
}

header nav{
    height: 100%;
}

footer, header{
    background: #A6373F;
    color: white;
}

a {
    color: white;
}


main{
    grid-area: ma;
    margin: 10px;
    background: #FFDDDD;
    box-shadow: 3px 3px 5px #808080;
    padding: 0 10px;
}

footer{
    grid-area: ft;
}

header{
    grid-area: hd;
}

header nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

header nav ul li{
    margin-right: 50px;
}

aside{
    background: #CF676F;
    grid-area: as;
    display: flex;
    flex-direction: column;
}

aside button{
    margin: 5px 10px;
}

#gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
}

#gallery img {
    justify-self: center;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}